page-order {

    .foto-div{
        width: 6em;
        height: 6em;
        border-radius: 40%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        background-position-y: 0;
        margin-top: 0em;
        margin-left: 1em;
        border: 3px salod #ffffff;   
    }

    .heightform{
      height : 15%;
      text-align: center;
      background-color:#488aff;
      color:red;
    }

    .fontmargin {
    margin-top : 2.1em ; 
    font-size: 15;
    font-family: 'Franklin Gothic Medium';
    color:white;
    }

    .buttonmargin{
        margin-top: 1.5em;
        margin-left: 2em;
    }

    .buttonmargin2{
        margin-left: 1.7em;
    }

    .buttonmargin3{
        margin-top: 1.5em;
    }

    .buttonmargin4{
        margin-left: 2em;
    }

    .amountmargin{
        margin-left:40.3em;
    }

    .buttonmargin6{
        margin-top: 1.7em ;
        margin-left: 1.7em;
    }

}
