page-orderdetail-edit {
    .marginright{
        margin-left:0.5em;
    }

    .marginleft{
        margin-left:1.5em;
    }

    .marginl{
        margin-left:0.4em;
    }

    .foto-div{
        width: 25em;
        height: 25em;
        // border-radius: 10%;
        margin-left : 7em;
        margin-bottom: 10;
    }
}
