page-confirmpage {
    .foto-div{
        width: 25em;
        height: 25em;
        border-radius: 10%;
        margin-left : 7em;
        margin-bottom: 10;
       
        // border: 3px salod #ffffff;
        
    }

}
