page-home {

      .center {
        font-size: 2em;
        margin-left: 16em;
      }

      .image-slide {
        width: 4000px;
        height: 400px;
        background-color: rgb(182, 179, 179);
      }
      
      .foot {
        margin-left: 75em;
        font-size: 1em;
      }

      .title{
        text-align: center;
      }
      
      .logo{
        margin-left: 9em;
        width: 23em;
        height: 24em;
      }
      .vimi{
        margin-left: 12em;
        font-size: 140%;
        background-color: rgb(226, 225, 225);
      }
      .visimisi{
        font-size: 109%;
        background-color: rgb(226, 225, 225);
      }
    }
    
