page-home {

    .header1 {
        width: 500px;
        height: 100px;
        margin-bottom: 5px;
      }
      ion-row {
        margin-left:200mm;
      }
    .card {
        font-size: 60px;
        margin-left: 110mm;
        color:  rgb(182, 179, 179); ;
    }

      .image-slide {
        width: 1000px;
        height: 300px;
        background-color: rgb(182, 179, 179);
      }
      
      .title-font {
        font-size: 10px;
        margin-top: -10px;
        background-color: rgb(196, 191, 191);
      }
      .title-font1 {
        font-size: 10px;
        margin-top: -30px;
      }
      .title-font2 {
        font-size: 10px;
        margin-top: -30px;
      }
     .title-font3 {
        font-size: 10px;
        margin-top: -30px;
        background-color: rgb(196, 191, 191);
      }
      .title-font4 {
        font-size: 10px;
        margin-top: -30px;
      }
      .title-font5 {
        font-size: 10px;
        margin-top: -30px;
        background-color: rgb(196, 191, 191);
      }
          
    
      
    }
