page-home {

      .center {
        font-size: 2em;
        margin-left: 16em;
      }

      .image-slide {
        width: 4000px;
        height: 600px;
        background-color: rgb(182, 179, 179);
      }
      
      .foot {
        margin-left: 75em;
        font-size: 1em;
      }

      .title{
        text-align: center;
      }
      
      .order{
        margin-top: -30em;
        margin-left: 25em;
        width: 75em;
        height: 30em;
      }
      .howtoorder{
        margin-top: 1%;
        margin-right: 75%;
        height: 30em;
      }
      .bank{
       margin-left: 1em;
       height: 3em; 
       width: 7em;
      }
      .transfer{
        margin-left: 32em;
        font-size: 2em;
      }
      .slidess{
        width: 20em;
        height: 20em;
      }
      .line{
        margin-top: 3em;
        width: 2000em;
        height: 1em;
      }
      .costumer{
        width: 33em;
        height: 32em;
      }
      .visimisi{
        width: 60em;
        height: 30em;
    }
    .baju{
      margin-top: -32em;
      margin-left: 33em;
      background-color: #189dae;
    }
    .ace{
      margin-top: 1em;
      margin-left: 3em;
      width: 12em;
      height: 15em;
    }
    .indomart{
      margin-top: -31em;
      margin-left: 22em;
      width: 12em;
      height: 15em;
    }
    .koki{
      margin-top: 1em;
      margin-left: 22em;
      width: 12em;
      height: 15em;
    }
    .krisbow{
      margin-top: -31em;
      margin-left: 40em;
      width: 12em;
      height: 15em;
    }
    .elekronikcity{
      margin-top: 1em;
      margin-left: 40em;
      width: 12em;
      height: 15em;
    }
    .vimi{
      margin-left: 73em;
      margin-top: -17em;
      width: 20em;
    }
    
  }
    
