page-reportorder {
    .pedding{
        background-color:#488aff;
        margin-top: 2%;
        margin-right: 20%;
        margin-left: 20%;
    }

    .tittle{
        background-color:whitesmoke;
        margin-top: 1%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .header{
        background-color:#488aff;
    }

}
