page-reportorder {
    .pedding{
        background-color: #009688;
        margin-top: 2%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .tittle{
        background-color:whitesmoke;
        margin-top: 3%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .header{
        background-color:#488aff;
    }

    .picture{
        margin-top: 1cm;
        margin-left: 30em;

    }

}
