page-orderdetail {

  

    .celltitle{
        color: white;
        font-weight: bold;
        border: solid 1px white;
        background-color:#189dae;
        text-align: center;
        font-size:17px;
       
      }

       
      .textcolor{
        color:white;
      }

      .cell{
        border: solid 1px white;
        color: #000000;
        text-align: center !important;
        padding-top: 1.2em;
        background-color: whitesmoke; 
      }


      .button{
        color :#189dae;
        background-color: whitesmoke;
        
      }



}
