page-orderdetail {

  

    .celltitle{
        color: white;
        font-weight: bold;
        border: solid 1px white;
        background-color:#488aff;
        text-align: center;
        font-size:17px;
       
      }

       
      
      .textcolor{
        color:white;
      }

      .cell{
        border: solid 1px white;
        background-color: whitesmoke;
        color: #488aff;
        text-align: center;
        padding-top: 1.2em;
      }


      .button{
        color :blue ;
        background-color: whitesmoke;
        
      }



}
