page-forgetpassword {

    .div{
        background-color: #246bce;
        font-family: Gill Sans;
        margin-bottom: -1em;
        margin-left: 0.5em;
        margin-top: 1em;
        

}

.warna{
    -webkit-text-fill-color: white;
}

.grid{
    width: 500px;
    margin-bottom: 5%;
}

.image-slide{
    margin-top: 3em;
    margin-left: 35em;
    height: 250px;
    width: 250px;

}

.button{
    margin-left: 4em;
}

.email{
    border-color: soid px rgb(253, 248, 248);
}

}
